body, html {
    margin: 0;
    height: 100%;
    padding: 0;
}


h1, h2 {
    color: rgb(0, 0, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

footer {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer-links {
    color: rgba(255, 0, 0, 0.65);
}

.menu-titles a {
    color: rgb(0, 0, 255);
}

.menu-titles h2 {
    border-radius: 5px;
    box-shadow: 1px 1px rgba(0, 0, 255, 0.37);
    padding: 15px;
    text-align: center;
}

.menu-titles h2:hover {
    border: 1px solid rgba(0, 0, 255, 0.37);
    box-shadow: none;
    font-size: 160%;
    transition-duration: 50ms;
}
.menu {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
}

.all-scores-container h2{
    display: flex;
    flex-direction: column;
}
.all-scores-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;

}

.menu-link {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    box-sizing: content-box;
    color: rgb(0, 0, 255);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 10px auto;
    max-width: 15%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.menu-link:hover {
    box-shadow: 1px 1px rgba(0, 0, 255, 0.37);
    font-size: 16px;
    transition-duration: 50ms;
}

#fourinline-container, #tictactoe-container, #memorygame-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

