body {
    align-items: center;
    text-align: center;
    height: 100vh;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.button {
    background: lightgray;
    padding: 10px 15px;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.button:hover{
    background: forestgreen;
    color: white;
}

.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
}

#game_name {
    background-color: aqua;
}

#rounds {
    background-color: azure;
}

#players {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}

#game-container > div {
    padding: 2px;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    border-style: solid;
}

img {
    width: 50px;
    height: 50px;
}