html {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, .player-name {
    text-align: center;
    padding: 20px;
    color: #588116;
}

div {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-container {
    display: block;
    margin: 0 auto;
    width: 500px;
    border-style: outset;
    border-radius: 12px;
    background-color: #eef8dd;
}

.game-container {
    width: 1000px;
    margin: 0 auto;
    border-style: outset;
    border-radius: 12px;
    background-color: #e9facd;
}

.grid-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.grid-item {
    background-color: greenyellow;
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
    color: #565555;
}

.game-item {
    display: flex;
    background-color: white;
    /*background-color: greenyellow;*/
    border-style: outset;
    border-radius: 12px;
    width: 19%;
    padding: 10px;
}

.grid-item:hover{
    box-shadow: 1px 1px rgba(0, 0, 255, 0.37);
    background-color: white;
    transition-duration: 50ms;
}

.game-item span {
    display: block;
    margin: 0 auto;
    opacity: 0;
    font-size: 60px;
    transition: 1000ms;
}

.solved {
    /*background-color: lightgrey;*/
    background-color: greenyellow;
    transition: 1000ms;
}

.game-item.visible span {
    opacity: 1;
    transition: 1000ms;
}

.winner-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-style: outset;
    border-radius: 12px;
    width: 400px;
    background-color: #eef8dd;
}

.visible {
    opacity: 1;
}

.hidden {
    display: none
}

.menu-button, .play-again {
    background-color: greenyellow;
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
    color: #565555;
}

.menu-button:hover{
    box-shadow: 1px 1px rgba(0, 0, 255, 0.37);
    background-color: white;
    transition-duration: 50ms;
}

.play-again:hover{
    box-shadow: 1px 1px rgba(0, 0, 255, 0.37);
    background-color: white;
    transition-duration: 50ms;
}

footer{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: grey;
}