h1, h2, div, .player-name {
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.menu-container{
    display: block;
    alignment: center;
}

.grid-type, .grid-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    background-color: greenyellow;
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
}

.game-item {
    display: flex;
    background-color: greenyellow;
    border-style: outset;
    border-radius: 12px;
    width: 20%;
    /*padding: 10px;*/
}

.game-item span{
    /*Inverted just for testing
    opacity: 0;*/
    opacity: 0;
    font-size: 60px;
}

.solved{
    background-color: lightgrey;
}

.game-item.visible span{
    /*Inverted just for testing
    opacity: 1;*/
    opacity: 1;
}

.winner-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    background-color: white;
    border-style: outset;
    border-radius: 12px;
    width: 300px;
    /*top: 200px;
    right: 100px;*/
}

.visible{
    opacity: 1;
}

/*menu-button is only used in the end of the game*/
.menu-button, .play-again{
    background-color: greenyellow;
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
}

