h1, h2, div, .player-name {
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    border-style: dotted;
    border-color: gray;
}

.game-container {
    display: flex;
    justify-content: center;
}

.grid-type, .grid-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.grid-item, .menu-button{
    background-color: greenyellow;
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
}

.game-item {
    background-color: greenyellow;
    border-style: outset;
    border-radius: 12px;
    padding: 50px;
}

.game-item span{
    /*Inverted just for testing
    opacity: 0;*/
    opacity: 1;
    font-size: 60px;
}

.solved{
    background-color: lightgrey;
}

.game-item.visible span{
    /*Inverted just for testing
    opacity: 1;*/
    opacity: 0;
}